body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b3a54;
}

#root {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(30, 187, 150);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #664bb8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ce4dc8;
}
